*{
    margin:0px;
    padding: 0px;
}


img {
    border: solid black 1px;
}
.forside {
    background-color: DodgerBlue;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 110px;
    margin-right: 70px;
    text-align: center;

}
footer {
    background-color: #b3b3b3;
    color: white;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}

#pagegrid {
    margin-left: 15px;
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 40px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "billed1"
        "tekst1"
        "overskrift2"
        "tekst2"
        "tekst3"
        "tekst4"
        "overskrift3"
        "liste1"
        "forside";

}

#tekst1 {
    grid-area: tekst1;
}
#tekst2 {
    grid-area: tekst2;
}
#tekst3 {
    grid-area: tekst3;
}
#tekst4 {
    grid-area: tekst4;
}

#fotodiv {
    grid-area: billed1;
}
#fotojpeg {
    max-width: 100%;
}

#overskrift1 {
    grid-area: overskrift1;
}
#overskrift2 {
    grid-area: overskrift2;
}
#overskrift3 {
    grid-area: overskrift3;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
h1 {
    margin-left: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#liste1 {
    grid-area: liste1;
    margin-left: 5px;
}

@media screen and (min-width: 500px) {
    #pagegrid {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "billed1 billed1 billed1"
        "tekst1 tekst1 tekst1"
        "overskrift2 overskrift2 overskrift2"
        "tekst2 tekst2 tekst2"
        "tekst3 tekst3 tekst3"
        "tekst4 tekst4 tekst4"
        "overskrift3 overskrift3 overskrift3"
        "liste1 liste1 ."
        
    }
    .forside {
        margin-left: 300px;
        margin-top: 50px;
    }
    #liste1 {
        margin: 50px;
    }
    #fotodiv {
        margin-bottom: 30px;
    }
    h1 {
        display: none;
    }
}