a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

h2:nth-child(odd) {
    color: #b1e493;
}
h2:nth-child(even) {
    color: #93b8d9;
}
.forside {
    background-color: DodgerBlue;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 110px;
    margin-right: 70px;
    text-align: center;

}
footer {
    background-color: #b3b3b3;
    color: white;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}


#pagegrid {
    display: grid;
    font-size: 15px;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas:
        "overskrift1"
        "tekst1"
        "liste1"
        "overskrift2"
        "tekst2"
        "liste2"
        "overskrift3"
        "tekst3"
        "tekst4"
        "overskrift4"
        "tekst5"
        "liste6"
        "tekst6"
        "liste5"
        "tekst7"
        "overskrift5"
        "billed1"
        "liste7"
        "tekst13"
        "nyhedstrekant2"
        "tekst15"
        "overskrift11"
        "tekst14"
        "tekst16"
        "liste3"
        "tekst17"
        "liste8"
        "overskrift12"
        "liste4"
        ;

}


/*--- OVERSKRIFTER ---*/
#overskrift1 {
    grid-area: overskrift1;
    text-align:center;
}
#overskrift2 {
    grid-area: overskrift2;
}
#overskrift3 {
    grid-area: overskrift3;
}
#overskrift4 {
    grid-area: overskrift4;
}
#overskrift5 {
    grid-area: overskrift5;
}
#overskrift6 {
    grid-area: overskrift6;
}
#overskrift7 {
    grid-area: overskrift7;
}
#overskrift8 {
    grid-area: overskrift8;
}
#overskrift9 {
    grid-area: overskrift9;
}
#overskrift10 {
    grid-area: overskrift10;
}
#overskrift11 {
    grid-area: overskrift11;
}
#overskrift12 {
    grid-area: overskrift12;
}

/*--- TEKSTER ---*/

#tekst1 {
    grid-area: tekst1;
    text-align: center;
}
#tekst2 {
    grid-area: tekst2;
    text-align: center;
}
#tekst3 {
    grid-area: tekst3;
}
#tekst4 {
    grid-area: tekst4;
}
#tekst5 {
    grid-area: tekst5;
}
#tekst6 {
    grid-area: tekst6;
    text-align: center;
}
#tekst7 {
    grid-area: tekst7;
}
#tekst8 {
    grid-area: tekst8;
}
#tekst9 {
    grid-area: tekst9;
}
#tekst10 {
    grid-area: tekst10;
}
#tekst11 {
    grid-area: tekst11;
}
#tekst12 {
    grid-area: tekst12;
}
#tekst13 {
    grid-area: tekst13;
}
#tekst14 {
    grid-area: tekst14;
}
#tekst15 {
    grid-area: tekst15;
}
#tekst16 {
    grid-area: tekst16;
}
#tekst17 {
    grid-area: tekst17;
}

/*--- BILLEDER ---*/
#nyhedstrekant {
    grid-area: billed1;
}

#nyhedstrekantbillede {
    max-width: 100%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nyhedstrekant2 {
    grid-area: nyhedstrekant2;
}

#nyhedstrekantbillede2 {
    max-width: 100%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--- LISTER ---*/
#liste1 {
    grid-area: liste1;
}
#liste2 {
    grid-area: liste2;
}
#liste3 {
    grid-area: liste3;
}
#liste4 {
    grid-area: liste4;
}
#liste5 {
    grid-area: liste5;
}
#liste6 {
    grid-area: liste6;
}

#liste7 {
    grid-area: liste7;
}
#liste8 {
    grid-area: liste8;
}

/*--- CITATER ---*/

#citat1 {
    grid-area: citat1;
}
#citat2 {
    grid-area: citat2;
}


@media screen and (min-width: 500px) {
    #pagegrid {
    padding-left: 30px;
    background-color: #fafafa;
    font-size: 15px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto;
    grid-template-areas:
        "overskrift1 overskrift1 overskrift1 overskrift1"
        "tekst1 tekst1 tekst1 tekst1"
        "liste1 liste1 . ."
        "overskrift2 overskrift2 overskrift2 overskrift2"
        "tekst2 tekst2 . ."
        "liste2 liste2 . ."
        "overskrift3 overskrift3 overskrift3 overskrift3"
        "tekst3 tekst3 tekst3 tekst3"
        "tekst4 tekst4 tekst4 tekst4"
        "overskrift4 overskrift4 overskrift4 overskrift4"
        "tekst5 tekst5 tekst5 tekst5"
        "liste6 liste6 . ."
        "tekst6 tekst6 . ."
        "liste5 liste5 . ."
        "tekst7 tekst7 . ."
        "overskrift5 overskrift5 overskrift5 overskrift5"
        "billed1 billed1 liste7 liste7"
        "tekst13 tekst13 . ."
        "tekst15 tekst15 tekst15 tekst15"
        "overskrift11 overskrift11 overskrift11 overskrift11"
        "nyhedstrekant2 nyhedstrekant2 tekst14 tekst14"
        "nyhedstrekant2 nyhedstrekant2 tekst16 tekst16"
        "liste3 liste3 liste3 liste3"
        "tekst17 tekst17 liste8 liste8"
        "overskrift12 overskrift12 overskrift12 overskrift12"
        "liste4 liste4 . ."
       
  
    }
.forside {
    margin-top: 50px;
    margin-left: 360px;    
    }
}
        
        
        